<a href="https://colab.research.google.com/github/ReAlex1902/ML/blob/master/sem11/finance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
#подключаем бибилиотеку BeautifulSoup
from bs4 import BeautifulSoup
import pandas as pd
#содаём таблицу по опционам на акции APPLE
options_data=pd.DataFrame()

In [2]:
#функция, добавляющая директорию в адресную строку
def find_href(item):
    item2=str(item.find_all('a')[0]).split(' ')
    item3=item2[len(item2)-1]
    item4=item3[6:(len(item3))]
    i=item4.find('"')
    item5=item4[0:i]
    return(item5)

In [3]:
#номер строк
#с внешнего сайта считываем колонки Contract Name, Last Trade Date, Strike, Bid, Ask
N=10
url = 'https://finance.yahoo.com/quote/AAPL/options?p=AAPL'
r = requests.get(url).text
soup = BeautifulSoup(r, 'html.parser')
url1='https://finance.yahoo.com/'
url2=[]
name=[]
strike=[]
date=[]
bid=[]
ask=[]
csv_file=[]
for i in range(N):
    f=[]
    item=soup.find_all(class_='data-col0')[i]
    add_href=find_href(item=item)
    url2.append(url1+add_href)
    n=soup.find_all(class_='data-col0')[i].get_text()
    dt=soup.find_all(class_='data-col1')[i].get_text()[0:10]
    strk=float(soup.find_all(class_='data-col2')[i].get_text())
    bd=float(soup.find_all(class_='data-col4')[i].get_text())
    ak=float(soup.find_all(class_='data-col5')[i].get_text())
    name.append(n)
    date.append(dt)
    strike.append(strk)
    bid.append(bd)
    ask.append(ak)
    f.append(n)
    f.append(dt)
    f.append(strk)
    f.append(bd)
    f.append(ak)
    csv_file.append(f)

In [4]:
#с внутреннего сайта считываем колонку Previous Close
pr_cl=[]
for i in range(N):
    url=url2[i]
    r = requests.get(url).text
    soup = BeautifulSoup(r, 'html.parser')
    pr_cl.append(soup.find_all(class_='Trsdu(0.3s)')[0].get_text())

In [5]:
options_data['opt id']=name
options_data['date']=date
options_data['last close']=pr_cl
options_data['strike']=strike
options_data['bid']=bid
options_data['ask']=ask
for i in range(N):
    csv_file[i].append(pr_cl[i])

In [6]:
options_data

                opt id        date last close  strike    bid    ask
0  AAPL201127C00055000  2020-11-20   3,557.54    55.0  62.00  62.65
1  AAPL201127C00060000  2020-11-20   3,557.54    60.0  57.00  57.65
2  AAPL201127C00065000  2020-11-18   3,557.54    65.0  52.00  52.65
3  AAPL201127C00070000  2020-11-12   3,557.54    70.0  47.25  47.40
4  AAPL201127C00075000  2020-11-19   3,557.54    75.0  42.30  42.40
5  AAPL201127C00080000  2020-11-20   3,557.54    80.0  37.25  37.40
6  AAPL201127C00085000  2020-11-20   3,557.54    85.0  32.30  32.40
7  AAPL201127C00090000  2020-11-20   3,557.54    90.0  27.30  27.45
8  AAPL201127C00095000  2020-11-20   3,557.54    95.0  22.30  22.45
9  AAPL201127C00096000  2020-11-20   3,557.54    96.0  21.25  21.45

In [8]:
#экспортируем данные в CSV файл
import os as oss
# oss.chdir('C:/Users/User/Desktop/Анализ данных/ЛР5')
#открываем файл на запись
with open('options.csv', 'w') as ouf:
        #перебираем элементы списка d
        for i in csv_file:
            #преобразуем элемент списка в строку
            i=str(i)
            #очищаем строку от ненужных символов
            i=i.replace("\'", "")
            i=i.replace("[", "")
            i=i.replace("]", "")
            #записываем строку в файл
            ouf.write(i + '\n')